body {
  margin: 0 auto;
  padding: 0;
  /* min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; */
 

}


.main {
  /* background-color: white; */
  margin-left: 10px;
  padding-top: 0;
  max-width: 800px;
}



/* body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
} */

.knopka{
  max-width: 10px;
  display: flex;
  justify-content: space-between;
}






